@use "@/modules/styles/_colors.scss" as colors;
@use "@/modules/styles/_mixins.scss" as mixins;

.container {
  color: colors.$primary;
  padding: 36px 20px;
  border-top: 1px solid colors.$black08;
  h1 {
    @include mixins.media-xs() {
      font-size: 28px;
    }
    @include mixins.media-lg() {
      font-size: 52px;
    }
  }
}

.title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 40px;
}

.articlesContainer {
  max-width: 1024px;
  margin: 0 auto;
  @include mixins.media-xs() {
    margin-top: 1rem;
    display: flex;
    gap: 1.5rem;
    overflow-x: auto;
    padding-bottom: 2rem;
  }
  @include mixins.media-lg() {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.articles {
  @include mixins.media-xs() {
    width: 100%;
    flex-shrink: 0;
  }
}
