@use "@/modules/styles/_colors.scss" as colors;
@use "@/modules/styles/_mixins.scss" as mixins;

.container {
  color: colors.$primary;
  background-image: linear-gradient(
    to bottom right,
    colors.$primary24 0%,
    colors.$primary16 16%,
    colors.$primary08 32%,
    white 50%,
    colors.$primary08 68%,
    colors.$primary16 84%,
    colors.$primary24 100%
  );

  h1 {
    @include mixins.media-xs() {
      font-size: 28px;
    }

    @include mixins.media-lg() {
      font-size: 52px;
    }
  }

  p {
    @include mixins.media-xs() {
      font-size: 14px;
    }

    @include mixins.media-lg() {
      font-size: 18px;
    }
  }
}

.row {
  @include mixins.media-xs() {
    padding: 60px 20px;
    text-align: center;
  }

  @include mixins.media-lg() {
    padding: 120px 40px;
    text-align: left;
  }
}

.content {
  max-width: 1440px;
  margin: 0 auto;

  @include mixins.media-xs() {
    gap: 8px;
  }

  @include mixins.media-lg() {
    gap: 32px;
  }
}

.figure {
  width: 100%;
  height: auto;

  @include mixins.media-xs() {
    max-width: min(100%, 320px);
  }

  @include mixins.media-lg() {
    max-width: 100%;
  }
}
