@use "@/modules/styles/_colors.scss" as colors;
@use "@/modules/styles/_mixins.scss" as mixins;

/* Main Container */
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1120px; 
    padding: 1.5rem; 
    h1 {
      @include mixins.media-xs() {
        font-size: 28px;
        color: colors.$primary;
        margin-bottom: 32px
    }}

}

  
  /* Grid Layout */
.posts{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    @include mixins.media-xs() {
        grid-template-columns: repeat(1, 1fr);
  }
    @include mixins.media-lg() {
        grid-template-columns: repeat(3, 1fr);
    }
}
