@use "@/modules/styles/_colors.scss" as colors;

@mixin formatAsLink($alwaysUnderline: false) {
  cursor: pointer;
  font-family: var(--font-family-roboto);
  text-decoration-color: transparent;
  text-decoration-line: underline;
  transition-duration: 125ms;
  transition-property: color, text-decoration-color;
  padding: 2px;
  border-radius: 4px;

  @if $alwaysUnderline {
    text-decoration-color: currentColor;
  }

  &:hover,
  &:focus-visible {
    text-decoration-color: colors.$primary80;
    color: colors.$primary80;
  }

  &:active {
    text-decoration-color: colors.$primary64;
    color: colors.$primary64;
  }

  &:focus-visible {
    outline-width: 2px;
    outline-style: solid;
    outline-color: colors.$primary;
  }
}

// https://getbootstrap.com/docs/5.0/layout/breakpoints/
@mixin media-xs() {
  @content;
}

@mixin media-sm() {
  @media (min-width: 576px) {
    @content;
  }
}

@mixin media-md() {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin media-lg() {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin media-xl() {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin media-xxl() {
  @media (min-width: 1400px) {
    @content;
  }
}

// alias of media-xxl
@mixin media-xx() {
  @media (min-width: 1400px) {
    @content;
  }
}

@mixin lineClamp($limit) {
  @supports (-webkit-line-clamp: #{$limit}) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: #{$limit};
  }
}
