@use "@/modules/styles/_colors.scss" as colors;
@use "@/modules/styles/_mixins.scss" as mixins;
@use "@/modules/styles/_variables.scss" as variables;

.container {
  color: colors.$primary;
  background-color: colors.$white;
  // border-bottom: 1px solid colors.$black16;

  @include mixins.media-xs() {
    height: 52px;
  }

  @include mixins.media-lg() {
    height: 80px;
  }

  a {
    all: unset;
    display: inline;

    color: colors.$primary;
    font-weight: 700;
    @include mixins.formatAsLink(false);
  }
}

.content {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: colors.$white;
  padding: 0 36px;
  font-size: 16px;
  z-index: variables.$zIndexNavbar;

  @include mixins.media-xs() {
    height: 52px;
  }

  @include mixins.media-lg() {
    height: 80px;
  }
}

.logo {
  transform: translateY(4px);

  @include mixins.media-xs() {
    display: none;
  }

  @include mixins.media-lg() {
    display: block;
  }
}

.logoCompress {
  transform: translateY(4px);

  @include mixins.media-xs() {
    display: block;
  }

  @include mixins.media-lg() {
    display: none;
  }
}
