@use "@/modules/styles/_colors.scss" as colors;
@use "@/modules/styles/_mixins.scss" as mixins;

.container {
  color: colors.$primary;
  // border-bottom: 1px solid colors.$black16;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 36px;
  font-size: 16px;
  h1 {
    @include mixins.media-xs() {
      font-size: 28px;
      font-weight: bold;
  }
}

  @include mixins.media-xs() {
    height: 52px;
  }

  @include mixins.media-lg() {
    height: 80px;
  }

  a {
    all: unset;
    display: inline;
    text-decoration: none;
    color: colors.$primary;
    font-weight: 700;
    @include mixins.formatAsLink(false);
  }

}

.logo {
  transform: translateY(4px);

  @include mixins.media-xs() {
    display: none;
  }

  @include mixins.media-lg() {
    display: block;
  }
}

.logoCompress {
  transform: translateY(4px);

  @include mixins.media-xs() {
    display: block;
  }

  @include mixins.media-lg() {
    display: none;
  }
}

.navbar_lg{
  // display: flex;
  @include mixins.media-xs() {
    display: none;
  }
  @include mixins.media-lg() {
    display: flex;
  }
}


.navbat_sm{
  position: relative;
  display: flex;
  flex-direction: column;
  @include mixins.media-xs() {
    display: flex;
  }
  @include mixins.media-lg() {
    display: none ;
  }
}
.nav_link{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  padding: 0.3rem;
  border-radius: 0.5rem;
}


.text_sm{
  font-size: 14px;
}